.container>.form-box{
    background-color: #000000bd!important; 
    position: absolute;
    margin: 50px;
    padding: 100px;
    left: 25%;
    width: 50%!important;
}
.form-box{
    color:white!important;
 
}

.navbar{
    background-color:#d0adb8d6!important;
}
.nav-link{
color: black!important;


}
.dropdown-menu{
    
    background-color: black!important;   
    position: absolute;


}

.dropdown-header{
    color: white!important;
}

.dropdown-item{
    color: white!important;
}